@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,600|Open+Sans+Condensed:300);

.wrapper {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

h1 {
  font: 400 76px/72px Abril Fatface;
}

h2 {
  font: 400 24px/27px Open Sans;
}

h3 {
  font: 400 18px/21px Abril Fatface;
}

p {
  font: 400 12px/15px Open Sans;
}

@media (max-width: 760px) {
  h1 {
    font: 400 87px/84px Abril Fatface;
  }
}