<div class="wrapper">
  <h2 id="title">Ember Perfect Text</h2>
  
  {{#perfect-text tagName="h1"}}Headings Are Awesome But Not With Widows{{/perfect-text}}
  {{#perfect-text tagName="h2"}}Another Poignant Heading{{/perfect-text}}
  {{#perfect-text tagName="h3"}}The Last Heading{{/perfect-text}}
  
  {{#perfect-text tagName="p"}}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{{/perfect-text}}
</div>

{{outlet}}
